<!doctype html>

<html ng-app="snowZone">



<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Snow Zone</title>


<link rel="shortcut icon" href="#" />


<!-- css -->

<link href="style.scss" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->



<div>
supguys

</div>



<the-image> </the-image>





<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>


<script type='text/javascript' src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script type='text/javascript' src="core.js"></script>

</body>
</html>